[package]
name = "fuzz"
version = "0.1.0"
edition = "2021"
publish = false

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
loro-without-counter = { path = "../loro", package = "loro" }
loro = { git = "https://github.com/loro-dev/loro.git", features = [
    "counter",
], rev = "9ea83abb9084a544fb93c07c42733886112ff617" }
loro-common = { git = "https://github.com/loro-dev/loro.git", features = [
    "counter",
], rev = "9ea83abb9084a544fb93c07c42733886112ff617" }
# loro = { path = "../loro", package = "loro", features = ["counter"] }
# loro-common = { path = "../loro-common", package = "loro-common", features = [
#     "counter",
# ] }
# loro-without-counter = { git = "https://github.com/loro-dev/loro.git", rev = "eb6daf4f064238cbc5c3d357615f5ed73767e98c", package = "loro" }
fxhash = { workspace = true }
enum_dispatch = { workspace = true }
enum-as-inner = { workspace = true }
tracing = { workspace = true }
itertools = { workspace = true }
arbitrary = "1"
tabled = "0.10"
rand = "0.8.5"

[dev-dependencies]
ctor = "0.2"
arbtest = "^0.2.0"
dev-utils = { path = "../dev-utils" }
tracing-subscriber = "0.3.18"
tracing-chrome = "0.7.1"
color-backtrace = "0.6.1"
serde_json = "1"
