[workspace]
members = [
    "crates/loro",
    "crates/examples",
    "crates/bench-utils",
    "crates/rle",
    "crates/loro-common",
    "crates/loro-internal",
    "crates/loro-preload",
    "crates/loro-wasm",
    "crates/fuzz",
    "crates/dev-utils",
]

[workspace.dependencies]
enum_dispatch = "0.3.11"
debug-log = { version = "0.3.1", features = [] }
enum-as-inner = "0.5.1"
fxhash = "0.2.1"
