[package]
name = "loro-internal"
version = "0.2.2"
edition = "2021"
license = "MIT"
description = "Loro internal library. Do not use it directly as it's not stable."

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
rle = { path = "../rle", version = "0.1.0", package = "loro-rle" }
loro-preload = { path = "../loro-preload", version = "0.1.0" }
loro-common = { path = "../loro-common", version = "0.1.0" }
smallvec = { version = "1.8.0", features = ["serde"] }
postcard = "1"
fxhash = "0.2.1"
serde = { version = "1", features = ["derive"] }
thiserror = "1"
enum-as-inner = "0.5.1"
num = "0.4.0"
rand = { version = "0.8.5", optional = true }
arbitrary = { version = "1", optional = true }
tabled = { version = "0.10.0", optional = true }
wasm-bindgen = { version = "=0.2.86", optional = true }
serde-wasm-bindgen = { version = "0.5.0", optional = true }
js-sys = { version = "0.3.60", optional = true }
serde_json = { version = "1" }
arref = "0.1.0"
debug-log = { version = "0.3", features = [] }
serde_columnar = { version = "0.3.3" }
append-only-bytes = { version = "0.1.12", features = ["u32_range"] }
itertools = "0.11.0"
enum_dispatch = "0.3.11"
im = "15.1.0"
generic-btree = { version = "0.8.2" }
getrandom = "0.2.10"
once_cell = "1.18.0"
leb128 = "0.2.5"
num-traits = "0.2"
num-derive = "0.3"
md5 = "0.7.0"

[dev-dependencies]
miniz_oxide = "0.7.1"
serde_json = "1.0.87"
dhat = "0.3.1"
rand = { version = "0.8.5" }
base64 = "0.21.5"
proptest = "1.0.0"
proptest-derive = "0.3.0"
static_assertions = "1.1.0"
tabled = "0.10.0"
color-backtrace = { version = "0.5" }
ctor = "0.1.23"
criterion = "0.4.0"
arbtest = "0.2.0"
bench-utils = { path = "../bench-utils" }

# See https://matklad.github.io/2021/02/27/delete-cargo-integration-tests.html
[lib]
doctest = false
bench = false

[features]
default = []
# "wasm" will use utf-16 index by default when using text related stuff; But it'll use utf-8 encoding internally.
wasm = ["wasm-bindgen", "js-sys", "serde-wasm-bindgen", "loro-common/wasm"]
# whether to use list slice instead of raw str in text container
test_utils = ["rand", "arbitrary", "tabled"]

[[bench]]
name = "text_r"
harness = false

[[bench]]
name = "list"
harness = false

[[bench]]
name = "encode"
harness = false

[[bench]]
name = "pending"
harness = false

[[bench]]
name = "event"
harness = false
