[package]
name = "loro-internal"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
string_cache = "0.8.4"
rle = { path = "../rle" }
loro-preload = { path = "../loro-preload" }
loro-common = { path = "../loro-common" }
smallvec = { version = "1.8.0", features = ["serde"] }
smartstring = { version = "1.0.1" }
fxhash = "0.2.1"
ring = "0.16.20"
serde = { version = "1.0.140", features = ["derive"] }
thiserror = "1.0.31"
enum-as-inner = "0.5.1"
num = "0.4.0"
crdt-list = { version = "0.4.0" }
postcard = "1.0.2"
rand = { version = "0.8.5", optional = true }
arbitrary = { version = "1.1.7", optional = true }
tabled = { version = "0.10.0", optional = true }
wasm-bindgen = { version = "0.2.83", optional = true }
serde-wasm-bindgen = { version = "0.5.0", optional = true }
js-sys = { version = "0.3.60", optional = true }
serde_json = { version = "1.0.87", optional = true }
arref = "0.1.0"
debug-log = { version = "0.1.4", features = [] }
serde_columnar = { version = "0.2.5" }
tracing = { version = "0.1.37" }
append-only-bytes = { version = "0.1.8", features = ["u32_range", "serde"] }
itertools = "0.10.5"
enum_dispatch = "0.3.11"
im = "15.1.0"
jumprope = { version = "1.1.2", features = ["wchar_conversion"] }
generic-btree = "0.4.0"
compact-bytes = { path = "../compact-bytes" }
lz4_flex = "0.11.1"
miniz_oxide = "0.7.1"

[dev-dependencies]
serde_json = "1.0.87"
dhat = "0.3.1"
rand = { version = "0.8.5" }
proptest = "1.0.0"
proptest-derive = "0.3.0"
static_assertions = "1.1.0"
tabled = "0.10.0"
color-backtrace = { version = "0.5" }
ctor = "0.1.23"
criterion = "0.4.0"
flate2 = "1.0.24"
arbtest = "0.2.0"
bench-utils = { path = "../bench-utils" }


# See https://matklad.github.io/2021/02/27/delete-cargo-integration-tests.html
[lib]
doctest = false
bench = false

[features]
default = []
compress = ["serde_columnar/compress"]
wasm = ["wasm-bindgen", "js-sys", "serde-wasm-bindgen", "loro-common/wasm"]
json = ["serde_json"]
# whether to use list slice instead of raw str in text container
test_utils = ["crdt-list/fuzzing", "rand", "arbitrary", "tabled", "json"]

[[bench]]
name = "text"
harness = false

[[bench]]
name = "text_r"
harness = false

[[bench]]
name = "list"
harness = false

[[bench]]
name = "encode"
harness = false
