[package]
name = "loro-internal"
version = "0.4.0"
edition = "2021"
license = "MIT"
description = "Loro internal library. Do not use it directly as it's not stable."
documentation = "https://docs.rs/loro/"
homepage = "https://loro.dev"
authors = ["Zixuan Chen", "Liang Zhao"]
categories = ["data-structures", "crdt", "collaborative-editing", "local-first"]
keywords = ["crdt", "local-first"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
rle = { path = "../rle", version = "0.4.0", package = "loro-rle" }
loro-preload = { path = "../loro-preload", version = "0.4.0" }
loro-common = { path = "../loro-common", version = "0.4.0" }
smallvec = { version = "1.8.0", features = ["serde"] }
postcard = "1"
fxhash = { workspace = true }
serde = { version = "1", features = ["derive"] }
thiserror = "1"
enum-as-inner = { workspace = true }
num = "0.4.0"
rand = { version = "0.8.5", optional = true }
arbitrary = { version = "1", optional = true }
tabled = { version = "0.10.0", optional = true }
wasm-bindgen = { version = "=0.2.90", optional = true }
serde-wasm-bindgen = { version = "0.5.0", optional = true }
js-sys = { version = "0.3.60", optional = true }
serde_json = { version = "1" }
arref = "0.1.0"
serde_columnar = { workspace = true }
append-only-bytes = { version = "0.1.12", features = ["u32_range"] }
itertools = "0.11.0"
enum_dispatch = { workspace = true }
im = "15.1.0"
generic-btree = { version = "0.9.0" }
getrandom = "0.2.10"
once_cell = "1.18.0"
leb128 = "0.2.5"
num-traits = "0.2"
num-derive = "0.3"
md5 = "0.7.0"
tracing = { version = "0.1", features = [
    "max_level_debug",
    "release_max_level_warn",
] }

[dev-dependencies]
miniz_oxide = "0.7.1"
serde_json = "1.0.87"
dhat = "0.3.1"
rand = { version = "0.8.5" }
base64 = "0.21.5"
proptest = "1.0.0"
proptest-derive = "0.3.0"
static_assertions = "1.1.0"
tabled = "0.10.0"
color-backtrace = { version = "0.5" }
ctor = "0.1.23"
criterion = "0.4.0"
arbtest = "0.2.0"
bench-utils = { path = "../bench-utils" }
zstd = "0.13.0"
tracing-subscriber = "0.3.18"
tracing-chrome = "0.7.1"

# See https://matklad.github.io/2021/02/27/delete-cargo-integration-tests.html
[lib]
doctest = false
bench = false

[features]
default = []
# "wasm" will use utf-16 index by default when using text related stuff; But it'll use utf-8 encoding internally.
wasm = ["wasm-bindgen", "js-sys", "serde-wasm-bindgen", "loro-common/wasm"]
# whether to use list slice instead of raw str in text container
test_utils = ["rand", "arbitrary", "tabled"]

[[bench]]
name = "text_r"
harness = false

[[bench]]
name = "list"
harness = false

[[bench]]
name = "encode"
harness = false

[[bench]]
name = "pending"
harness = false

[[bench]]
name = "event"
harness = false

[[bench]]
name = "map"
harness = false

[[bench]]
name = "tree"
harness = false
