[package]
name = "loro-wasm"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
js-sys = "0.3.60"
loro-core = { path = "../loro-core", features = ["wasm"] }
wasm-bindgen = "0.2.83"
serde-wasm-bindgen = { version = "0.4.5" }
console_error_panic_hook = { version = "0.1.6", optional = true }

[features]
default = ["console_error_panic_hook"]
