[package]
name = "loro-wasm"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
js-sys = "0.3.60"
loro-core = { path = "../loro-core", features = ["wasm"] }
wasm-bindgen = "0.2.83"

[profile.release]
# Tell `rustc` to optimize for small code size.
opt-level = "s"
