[package]
name = "loro-wasm"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
js-sys = "0.3.60"
loro-internal = { path = "../loro-internal", features = ["wasm"] }
wasm-bindgen = "0.2.83"
serde-wasm-bindgen = { version = "0.5.0" }
console_error_panic_hook = { version = "0.1.6", optional = true }
getrandom = { version = "0.2.10", features = ["js"] }
debug-log = { version = "0.2.1", features = ["wasm"] }
serde = { version = "1", features = ["derive"] }

[features]
default = ["console_error_panic_hook"]
