[package]
name = "loro"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
loro-internal = { path = "../loro-internal" }
enum-as-inner = "0.6.0"

[dev-dependencies]
serde_json = "1.0.87"

[features]
test_utils = ["loro-internal/test_utils"]
