[package]
name = "loro"
version = "0.2.1"
edition = "2021"
license = "MIT"
description = "Loro is a high-performance CRDTs framework. Make your app collaborative efforlessly."
homepage = "https://loro.dev"
authors = ["Zixuan Chen", "Liang Zhao"]
categories = ["data-structures", "crdt", "collaborative-editing", "local-first"]
keywords = ["crdt", "local-first"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
loro-internal = { path = "../loro-internal", version = "0.1.0" }
enum-as-inner = "0.6.0"

[dev-dependencies]
serde_json = "1.0.87"

[features]
test_utils = ["loro-internal/test_utils"]
